body {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.title {
  max-width: 600px;
  margin: 3rem auto;
  font-size: 2rem;
  text-align: center;
}

.slogan {
  /* background-color: #D3D3D3; */
  color: grey;
  font-size: 2rem;
  padding: 2rem 0;
  margin: 3rem auto 3rem;
  max-width: 800px;
  text-align: center;
  font-style: italic;
}

.slogan .author {
  color: black;
  font-size: 0.8rem;
  float: right;
  margin-right: 2rem;
}

.title h1 {
  text-align: center;
}

.image-section {
  max-width: 600px;
  margin: 0 auto;
}

.image-section img {
  width: 100%;
}

.image-section.banner {
  max-width: 800px;
  margin: 0 auto 4rem;
}

.image-section.syllabus {
  margin: 2rem auto;
}

.image-section.social {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-section.line {
  width: 150px;
  margin: 2rem auto;
  text-align: center;
}

.image-section.accupass {
  max-width: 250px;
  text-align: center;
}

.teacher {
  background-color: #F8F8F1;
  padding: 1rem 2rem;
  margin: 1rem auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.teacher .image.avatar {
  max-width: 200px;
}

.teacher .image.avatar img {
  width: 100%;
  border-radius: 125px;
}

.teacher .profile {
  max-width: 250px;
  text-align: center;
  margin: auto 0;
  padding: 0 2rem;
}

.teacher .profile .name {
  font-size: 1rem;
  font-weight: bold;
}

.teacher .profile .position {
  font-size: 0.8rem;
}

.testimonial {
  background-color: #F8F8F1;
  max-width: 800px;
  padding: 1rem 1.5rem 2.5rem;
  margin: 1rem auto;
  text-align: center;
}

.testimonial .student {
  float: right;
}

@media only screen and (hover: none) {
  .slogan {
    font-size: 1rem;
    margin: 0 auto 1rem;
  }

  .title {
    font-size: 1.5rem;
    margin: 1rem auto;
  }

  .image-section {
    max-width: initial;
  }

  .image-section.banner {
    max-width: initial;
    margin: 0 auto;
  }

  .image-section.syllabus {
    max-width: initial;
    margin: 0 auto;
  }

  .image-section.social .line {
    width: 35%;
    /* margin: 2rem auto; */
  }
  
  .image-section.social .accupass {
    width: 60%;
  }

  /* Regular CSS rules here*/
  .teacher {
    /* margin: 0 auto; */
    max-width: initial;
  }

  .teacher .image.avatar {
    max-width: 5rem;
  }

  .teacher .profile {
    margin: auto 0;
    padding: 0 2rem;
  }
}
